* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(48, 143, 252);
}

.logo img {
    display: block;
    height: 35px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
}

.container {
    background-color: white;
    width: 320px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

div h1 {
    color: gray;
    text-align: center;
    font-weight: normal;
}

form label {
 font-weight: 600;
}

.formbox {
    width: 288px;
    height: 22px;
    padding: 15px;
    border: 2px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

::placeholder {
    color: lightgray;
    opacity: 1;
}

.signupbtn {
    width: 288px;
    height: 22px;
    padding: 15px;
    background-color: lightgreen;
    border-radius: 5px;
    border: 2px solid lightgreen;
    font-weight: bolder;
    color: white;
}